.home__edit-profile-button {
  background-color: #ffa928;
  padding: 6px 8px;
  box-shadow: 2px 2px 2px gray;
  color: #1d2b38;
  transition: background-color 100ms, color 100ms, box-shadow 100ms;
  border: 1px solid;
  margin-bottom: 20px;
}

.home__edit-profile-button:hover {
  background-color: #1d2b38;
  color: #ffa928;
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
  transition: background-color 100ms, color 100ms, box-shadow 100ms;
  /* border: none; */
}

.home__intro {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(#1d2b38, #e5e8da); */
  background-color: #e5e8da;
  border-radius: 20px;
  box-shadow: 10px 10px 14px black;
  margin: 0 1%;
  gap: 10%;
  padding: 20px;
  align-items: center;
}

.home__intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.4rem;
  color: #1d2b38;
  gap: 40px;
  padding: 40px;
  max-width: 40%;
  width: 100%;
  border: 2px solid #1d2b38;
}

.home__intro-text {
  margin: 0;
  font-size: 2.5rem;
}

.home__intro-hello {
  align-self: start;
  /* margin-left: 13%; */
}

.home__intro-name {
  align-self: end;
  /* margin-right: 13%; */
}

.home__intro-title {
  /* font-size: 2.5rem; */
  font-weight: 700;
  color: #ffa928;
  border-bottom: 0.5px solid #1d2b38;
  font-size: 3.5rem;
  max-width: 100%;
  overflow: hidden;
  z-index: 0;
}

.home__intro-image {
  max-width: 400px;
  height: auto;
  max-height: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px #373636;
  margin: 2vh 0;
  object-fit: contain;
  align-self: center;
}

.home__intro-button {
  background-color: #ffa928;
  padding: 10px 14px;
  box-shadow: 2px 2px 2px gray;
  color: #1d2b38;
  transition: background-color 100ms, color 100ms, box-shadow 100ms;
  border: 1px solid;
}

.home__intro-button:hover {
  background-color: #1d2b38;
  color: #ffa928;
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
  transition: background-color 100ms, color 100ms, box-shadow 100ms;
  border: none;
}

.home__about {
  display: flex;
  padding: 100px 30px;
  justify-content: space-evenly;
  gap: 20px;
}

.home__about-title {
  border: 5px solid;
  border-radius: 15px;
  padding: 20px;
  align-self: start;
}

.home__about-text {
  max-width: 800px;
  align-self: center;
  text-align: justify;
}

@media screen and (max-width: 700px) {
  .home__intro {
    flex-direction: column;
  }
  .home__intro-container {
    max-width: calc(100% - 80px);
  }
  .home__intro-title {
    max-width: 98%;
  }
  .home__about {
    flex-direction: column;
  }
  .home__about-title {
    align-self: center;
  }
  .home__intro-text {
    font-size: 2rem;
  }
}
