.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d2b38;
  /* visibility: none; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;
}

.modal_opened {
  /* visibility: visible; */
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s linear;
}

.modal__content {
  max-height: 90vh;
  max-width: 70vw;
  background-color: #e5e8da;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  overflow-y: auto;
}

.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  overflow: hidden;
}

.modal__form {
  margin: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__title {
  margin: 0 0 24px 0;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  background-image: url("../assets/closeModal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.modal__close-button:hover {
  scale: 1.1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  padding: 5px 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 10px;
  margin-left: 40%;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__form_submit {
  background-color: rgba(255, 169, 40, 1);
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  align-self: center;
  border: 1px solid;
}

.modal__form_submit:hover {
  background-color: rgba(255, 169, 40, 0.8);
}

.modal__form_alternate-button {
  background-color: transparent;
  border: none;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.modal__input_type_file {
  border: 1px solid #1d2b38;
  margin: 0 auto;
}

.modal__delete-content {
  padding: 30px;
}

.modal__delete-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.modal__delete-button {
  background-color: #ffa928;
  border-radius: 0;
}
