.project__nav {
  background-color: #e5e8da;
  padding: 20px;
  gap: 30px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 10px 10px black;
}

.project__nav-link {
  font-weight: 600;
  color: #1d2b38;
  transition: scale 80ms;
}

.project__nav-link:hover {
  scale: 1.1;
  transition: scale 80ms;
}

.project__nav-link-focus {
  border-bottom: 1px solid #1d2b38;
}
