.project-display {
  background-color: #e5e8da;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid black;
  max-width: 90vw;
  justify-self: center;
  width: 100%;
  color: #1d2b38;
  max-height: 2000px;
}

.project-display__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  padding: 20px;
}

.project-display__title {
  color: #1d2b38;
}

.project-display__arrow {
  width: 40px;
  height: 40px;
  color: #1d2b38;
}

.project-display__edit-button {
  background-color: transparent;
  border: none;
  padding: 0;
  /* position: absolute;
  left: 3%; */
  cursor: pointer;
  transition: scale 30ms linear;
}

.project-display__edit-button:hover {
  scale: 1.2;
  transition: scale 30ms linear;
}

.project-display__edit-image {
  width: 30px;
}

.project-display__trash-button {
  background-color: transparent;
  border: none;
  padding: 0;
  /* position: absolute;
  right: 3%; */
  cursor: pointer;
  transition: scale 30ms linear;
}

.project-display__trash-button:hover {
  scale: 1.2;
  transition: scale 30ms linear;
}

.project-display__trash-image {
  width: 30px;
}

.project-display__details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-display__details_open {
  max-height: 2000px;
  overflow: visible;
  transition: max-height 0.3s ease-in-out;
}

.project-display__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: rotate 0.2s ease-in-out;
}

.project-display__button:active {
  transform: scale(0.95);
}

.project-display__button_pressed {
  rotate: 90deg;
  transition: rotate 0.2s ease-in-out;
}

.project-display__content {
  margin-bottom: 30px;
  width: 70%;
  max-height: 50vh;
  height: 60vh;
  object-fit: contain;
}

.project-display__description {
  padding: 0 30px 20px 30px;
  margin: 0;
}

.project-display__url-container {
  width: 100%;
  height: 100%;
}

.project-display__link {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #1d2b38;
  padding-bottom: 20px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .project-display__intro {
    /* flex-direction: column; */
    gap: 10px;
  }
}
